<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equidais.mybeacon">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.equidais.mybeacon.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.equidais.mybeacon.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".controller.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/bowtie_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.main.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".controller.main.TransActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />

        <service android:name=".controller.service.MyService" />
        <service android:name="com.sensoro.beacon.kit.BeaconProcessService" />
        <service android:name="com.sensoro.beacon.kit.BeaconService" />
        <service android:name="com.sensoro.beacon.kit.IntentProcessorService" />

        <receiver android:name=".controller.service.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".controller.main.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.equidais.mybeacon" />
            </intent-filter>
        </receiver>

        <activity android:name=".controller.service.QRCode"></activity>
    </application>

</manifest>
